body{
    background-color: maroon;
}

.text-adjustment{
	text-align: center;
	font-size: 30px;
	color: white;
}
.large-text{
	font-size: 15px;
}
.smallImg {
	max-width: 420px;
	max-height: 420px;
}
.middle-left{
	width: 38%;
	position:fixed;
	top: 15%;
	left: 15%;
	margin-top: 15px;
}
.middle-right{
	width: 38%;
	font-size:20;
	position:fixed;
	top: 15%;
	right:15%;
	margin-top: 15px;
}
.large-square{
	width:38%;
	position: fixed;
	bottom:30%;
	right:15%;
}