body{
    background-color: maroon;
}
h1{
    background-color: white;
    font-size: 50px;
    left: 100px;
}

header {
	display: inline-block;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.smallImg {
	max-width: 250px;
	max-height: 250px;
}