body{
    background-color:gray;
}

.text-adjustment{
	text-align: center;
	font-size: 30px;
	color: white;
}

.large-text{
	font-size: 16;
}
.smallImg {
	max-width: 150px;
	max-height: 150px;
}
.middle-left{
	width: 15%;
	position:fixed;
	font-size: 12;
	top: 10%;
	left: 10%;
	margin-top: 15px;
}
.introduction{
	width: 30%;
	font-size:14;
	position:fixed;
	top: 40%;
	left:10%;
	margin-top: 15px;
}
.header-box{
	width:30%;
	position:fixed;
	top:10%;
	right:20%;
}

.bottom-Header{
	width:30%;
	position:fixed;
	bottom:30%;
	left:10%;
}
.mini-box{
	width:30%;
	position: fixed;
	top:15%;
	right:20%;
}
.mini-box1{
	width:30%;
	position:fixed;
	top:15%;
	right:0%;
}
.mini-box2{
	width: 30%;
	position:fixed;
	top: 35%;
	right:20%;
}
.mini-box3{
	width:30%;
	position:fixed;
	top:35%;
	right:0%;
}
.mini-box4{
	width:30%;
	position:fixed;
	bottom:35%;
	right:0%;
}
.mini-box5{
	width:30%;
	position:fixed;
	bottom:35%;
	right:20%;
}
.mini-box6{
	width:30%;
	position: fixed;
	bottom:15%;
	right:20%;
}
.mini-box7{
	width:30%;
	position:fixed;
	bottom:15%;
	right:0%;
}